.app {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--color-cream);
}

.app h1 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}