.app {
    display: flex;
    flex-direction: column;
}

.highlight {
    margin: 0;
    opacity: 1;
    font-weight: 600;
    color: var(--color-accent-deep);
}

body {
    margin: 0;
    padding: 0;
}